.box-set {
    background: #eaeaed;
}

.box{
    background: #2db34a;
    position: relative; /* relative positioning*/
    height: 80px;
    width: 80px;
}

.box-1 {
    top: 20px;
}

.box-2 {
    left: 40px;
}

.box-3 {
    right: 20px;
    bottom: -10px;
}


