.box-set {
    background-color: #eaeaed;
    height: 200px;
    position: relative;
}

.box {

background: #2db34a;
height: 80px;
width: 80px;
position: absolute;
}

.box-1 {
    top: 6%;
    left: 2%;
}

.box-2 {
    top: 0;
    right: -40px;
    z-index: 3;
}

.box-3 {
    bottom: -10px;
    right: 20px;
    z-index: 2;
}

.box-4 {
    bottom: 0;
    z-index: -2;

}
